<form #codeform=ngForm (ngSubmit)=findUser(codeform) >

    <div class="form-group">
    <label>UserId Code</label>
    <input type="number" name="userId"   ngModel class="form-control">
  </div>
    <input type="submit" value="Search" class="btn btn-success">
  </form>
  <br>
  
  <div *ngIf="user!==undefined">
    
    Id is {{user.userId}}
    <br>
    Type is {{user.userType}}
    <br>
     Name is {{user.userName}}
     <br>
   phone is  {{user.userPhone}}
   <br>
   password is {{user.password}}
  <br>
 
  
  </div>